// TODO

.container {
    max-width: 1120px;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.preview {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: block;
    text-align: center;
    background: var(--title);

    color: var(--background);
    border-radius: 4px;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1rem;
}
