// TODO


.posts {
    max-width: 720px;
    margin: auto 0;

   & + div {
       margin-top: 2.5rem;
   }
        strong {
            display: block;
            font-size: 1.5rem;
            margin-top: 1rem;
            line-height: 2rem;
            transition: 0.2s;
        }
    
    p {
        color: var(--info);
        margin-top: 0.5rem;
        line-height: 1.625rem;
    }

    .content {

        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        

        time {
            font-size: 1rem;
            color: var(--info);
        }
    
        p {
            margin: auto 1rem;
            color: var(--info);
        }
    }
}

.button {
    background: var(--background);
    color: var(--highlight);
    border: 0;
    font-weight: 600;
    margin-top: 3rem;
}
